<p>basic-form works!</p>
<h1>Reactive form</h1>
<p>is simple and use for simple form,it use ReactiveFormModule ,formControll,formGroup</p>
<form class="p-3">
  <!-- <input type="text" class="form-control mb-2" placeholder="First Name" [formControl]="name">
  <input type="text" class="form-control mb-2" placeholder="Password" [formControl]="password"> -->

   <input type="text" placeholder="First Name" [formControl]="name">
   <br><br>
   <input type="text" placeholder="Password" [formControl]="password">
   <br><br>
   <button type="button" (click)="getValue()" class="btn btn-primary">Submit</button>
</form>

<p>My Name is={{name.value}}</p>
<p>My password is = {{password.value}}</p>

<h1>--------------------------------------------------------------------</h1>

<!-- ===================================================================== -->
<!-- ===================================================================== -->
<h1>Form Grouping in reactive form / Reactive form Validation</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="First Name" formControlName="fname">
    <span class="error" *ngIf="fname?.hasError('required')">Name is required</span>
    <span class="error" *ngIf="fname?.invalid && (fname?.dirty || fname?.touched)">please  enter name</span>
    <br><br>

    <input type="text" placeholder="email" formControlName="femail">
    <span class="error" *ngIf="femail?.hasError('required')">Password is required</span>
    <span class="error" *ngIf="femail?.invalid && (femail?.dirty || femail?.touched)">Please valid  enter email</span>
    <br><br>

    <input type="text" placeholder="Password" formControlName="fpassword">
    <span class="error" *ngIf="fpassword?.hasError('required')">Password is required</span>
    <span class="error" *ngIf="fpassword?.invalid && (fpassword?.dirty || fpassword?.touched)">Please valid enter Password</span>
    <br><br>
    
  
   <button class="btn btn-primary">Submit form-group</button>
</form>
<p>{{this.profileForm.value.fname}}</p>
<p>{{this.profileForm.value.fpassword}}</p>
<p>{{this.profileForm.value.femail}}</p>

