<!-- <form> -->
<!-- <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <div class="row g-3 align-items-center">
  
    <div class="col-md-6">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" id="firstName" class="form-control" placeholder="First Name" required>
    </div>

    <div class="col-md-6">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" id="lastName" class="form-control" placeholder="Last Name" required>
    </div>

    <div class="col-12">
      <label for="email" class="form-label">Email address</label>
      <input type="email" id="email" class="form-control" placeholder="Enter your email" required>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </div>

  </div>
</form> -->

<!-- Display Submitted Data -->
<!-- <div *ngIf="submittedData" class="mt-4">
  <h5>Form Submitted Successfully!</h5>
  <pre>{{ submittedData | json }}</pre>
</div> -->

<h1>Get Input Data</h1>
<input type="text" (input)="getName($event)" >
<p>{{this.name}}</p>

<label for="fname" class="form-label">First Name</label>
<input type="text" id="fname" class="form-control" #fnameInput
/>
<button class="btn btn-primary" (click)="setName(fnameInput.value)">
Add Name
</button>
 <p *ngIf="fname">
    You entered: {{ fname }}
  </p>

